/*-------------------------------------
zTree Icons Skin

version:	2.0
author:		Hunter.z
email:		hunter.z@263.net
website:	http://code.google.com/p/jquerytree/

-------------------------------------*/

.zTree li button.sim1.ico_open{ background:url(./images/sim/1_open.png);}
.zTree li button.sim1.ico_close{ background:url(./images/sim/1_close.png);}
.zTree li button.sim2.ico_open{ background:url(./images/sim/2.png);}
.zTree li button.sim2.ico_close{ background:url(./images/sim/2.png);}
.zTree li button.sim2.ico_docu{ background:url(./images/sim/2.png);}
.zTree li button.sim3.ico_docu{ background:url(./images/sim/3.png);}
.zTree li button.sim4.ico_docu{ background:url(./images/sim/4.png);}
.zTree li button.sim5.ico_docu{ background:url(./images/sim/5.png);}
.zTree li button.sim6.ico_docu{ background:url(./images/sim/6.png);}
.zTree li button.sim7.ico_docu{ background:url(./images/sim/7.png);}
.zTree li button.sim8.ico_docu{ background:url(./images/sim/8.png);}
.zTree li button.sim9.ico_docu{ background:url(./images/sim/9.png);}
.zTree li button.sim10.ico_docu{ background:url(./images/sim/10.png);}

.zTree li button.flag1.ico_open{ background:url(./images/flag/1_open.png);}
.zTree li button.flag1.ico_close{ background:url(./images/flag/1_close.png);}
.zTree li button.flag2.ico_open{ background:url(./images/flag/2.png);}
.zTree li button.flag2.ico_close{ background:url(./images/flag/2.png);}
.zTree li button.flag2.ico_docu{ background:url(./images/flag/2.png);}
.zTree li button.flag3.ico_docu{ background:url(./images/flag/3.png);}
.zTree li button.flag4.ico_docu{ background:url(./images/flag/4.png);}
.zTree li button.flag5.ico_docu{ background:url(./images/flag/5.png);}
.zTree li button.flag6.ico_docu{ background:url(./images/flag/6.png);}
.zTree li button.flag7.ico_docu{ background:url(./images/flag/7.png);}
.zTree li button.flag8.ico_docu{ background:url(./images/flag/8.png);}
.zTree li button.flag9.ico_docu{ background:url(./images/flag/9.png);}
.zTree li button.flag10.ico_docu{ background:url(./images/flag/10.png);}


